body {
	text-align: center;
	background-image: url("image/hogwarts-background.png");
	background-repeat: no-repeat;
	background-position: left top;
	background-attachment: fixed;
	color: white;
}

img {
	opacity: 0.9;
	margin-top: 3%;
}

#welcome {
	margin-top: 5em;
}

#getHouse {
	margin-top: 5em;
}

#gameStart {
	margin-top: 5em;
}

#houses {
	color: black;
}

#getStart {
	margin-top: 5em;
}

#dashboard {
	margin-top: 1em;
	background-color: darkslateblue;
}

#hogwarts {
	margin-top: 5em;
	width: 50%;
}

#messageBoard {
	margin-top: 5em;
}